<div class="container ">
    <h1 class="text-center">Login</h1>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="col-8">
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    formControlName="email"  
                    placeholder="Adresse mail" 
                    [ngClass]="{ 'is-invalid' : isSubmitted && f.email.errors}">
            </div>
            <div *ngIf="isSubmitted && f.email.errors" class="red-text">
                <div *ngIf="f.email.errors.required" class="red-text">
                    L'adresse mail est obligatoire.
                </div>
                <div *ngIf="f.email.errors.email" class="red-text">
                    Merci de renseigner une adresse mail valide.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" formControlName="password"  placeholder="Mot de passe" >
            </div>

            <button type="submit" class="btn btn-primary col-12">LogIn</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <a routerLink="/signup">Pas encore inscrit ?</a>
    </div>
</div>
