<div class="container">

    <h1 class="text-center"> Sign Up</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
        <div class="col-8">
            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Votre prénom" [ngClass]="{ 'is-invalid' : isSubmitted && f.firstname.errors}">
            </div>
            <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control" formControlName="lastname" placeholder="Votre nom" [ngClass]="{ 'is-invalid' : isSubmitted && f.lastname.errors}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Votre adresse mail" [ngClass]="{ 'is-invalid' : isSubmitted && f.email.errors}">
            </div>
            <div *ngIf="isSubmitted && f.email.errors" class="red-text error-message row offset-s3 col s6 center-align">
                <div *ngIf="f.email.errors.required" class="red-text error-message row offset-s3 col s6 center-align">
                    L'adresse mail est obligatoire.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Votre mot de passe" [ngClass]="{ 'is-invalid' : isSubmitted && f.password.errors}">
            </div>
            <div *ngIf="isSubmitted && f.password.errors" class="red-text error-message row offset-s3 col s6 center-align">
                <div *ngIf="f.password.errors.required" class="red-text error-message row offset-s3 col s6 center-align">
                    Le mot de passe est obligatoire.
                </div>
            </div>
            <div class="form-group">
                <label for="password_repeat">Confirmation mot de passe</label>
                <input type="password" class="form-control" formControlName="password_repeat" placeholder="Confirmation du mot de passe" [ngClass]="{ 'is-invalid' : isSubmitted && f.password_repeat.errors}">
            </div>
            <div *ngIf="isSubmitted && f.password_repeat.errors" class="red-text error-message row offset-s3 col s6 center-align">
                <div *ngIf="f.password_repeat.errors.required" class="red-text error-message row offset-s3 col s6 center-align">
                    La confirmation du mot de passe est obligatoire.
                </div>
            </div>

            <button type="submit" class="btn btn-primary col-12">SignUp</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <a routerLink="/">Déjà inscrit ?</a>
    </div>
</div>